[Unit]
Description=activemq edge for hub1 service unit
After=docker.service
Wants=activemq-hub1-edge-master-presence@%i.service

[Service]
Restart=always
RestartSec=15
TimeoutSec=120
EnvironmentFile=/etc/environment
Environment="DOMAIN_NAME=cluster.duffqiu.org"
Environment="HUBID=1"
Environment="IMAGE_VER=noreplicated"
ExecStartPre=-/usr/bin/docker kill activemq-hub${HUBID}-edge-master-%i
ExecStartPre=-/usr/bin/docker rm  activemq-hub${HUBID}-edge-master-%i
ExecStartPre=-/usr/bin/docker pull duffqiu/activemq-edge:${IMAGE_VER}
ExecStart=/usr/bin/docker run  \
                              --name activemq-hub1-edge-master-%i \
                              -e NODE_ID=%i \
                              -e ROLE=0 \
                              -e HUB_ID=${HUBID} \
                              --hostname edge${HUBID}-%i-0.${DOMAIN_NAME} \
                              --dns-search ${DOMAIN_NAME} \
                              --dns ${COREOS_PRIVATE_IPV4} \
                              -p ${COREOS_PRIVATE_IPV4}:61616:61616 \
                              -p ${COREOS_PRIVATE_IPV4}:1883:1883 \
                              -p ${COREOS_PRIVATE_IPV4}:5672:5672 \
                              -p ${COREOS_PRIVATE_IPV4}:61613:61613 \
                              -p ${COREOS_PRIVATE_IPV4}:61614:61614 \
                              -p ${COREOS_PRIVATE_IPV4}:8161:8161 \
                              -v /mirror/activemq-edge/hub${HUBID}/%i/master/data:/activemq/data \
                              duffqiu/activemq-edge:${IMAGE_VER}
ExecStop=-/usr/bin/docker stop activemq-hub${HUBID}-edge-master-%i

[X-Fleet]
Conflicts=activemq-hub1-edge-master@*.service 
MachineMetadata=role=back

